
body {
    background-color: #eee;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.navbar {
    border-radius: 0;
}

.content {
    padding: 20px;
}

article {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

article > header {
    border-bottom: 1px solid #999;
    margin-bottom: 30px;
}