<!DOCTYPE html>
<html lang='en'>
    <head>
        {% load pickertags %}
        {% load_css %}
        {% load staticfiles %}
        <link rel='stylesheet' href="{% static 'css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{{ title }}</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">WEBLOG</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/tags">TAGS</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CATEGORIES<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for index,name in menu %}
                                <li><a href="/categories/{{name}}">{{name}}</a></li>
                                {% endfor%}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class='content'>
            {% block content %}{% endblock %}
        </section>
        {% load_js %}
    </body>
</html>