{% extends 'base.html' %}

{% block content %}
    {% for article in articles %}
    <div>
        <li>
            <h3><a href="{% url 'article_page' article.category.name article.id %}">{{ article.title }}</a></h3>
            {{ article.create_on }} 
        </li>
    </div> 
    {% endfor %}
    <button type="button" class="btn btn-default">
        <a href="{% url 'categories' %}"> Back </a>
    </button>
{% endblock %}
