{% extends 'base.html' %}

{% block content %}
    <div>
        {% for category in categories %}
            <li> 
                <a href="{% url 'category' category.name %}"> {{ category.name }}</a>
            </li>
        {% endfor %}
    </div>
    <button type="button" class="btn btn-default">
        <a href="{% url 'index' %}"> Back </a>
    </button>
{% endblock %}
