{% extends 'base.html' %}

{% block content %}
    <article>
        <header>
            <h3>{{ title }}</h3>
            <span class="label label-default pull-right"> Category: {{ category.name }} </span>
        </header>
        <section>
            <p> {{ content }} </p>
            <p class='pull-right'> {{ create_on }} </p>
        </section>
        <section>
            <span><b>Tags: </b></span>
            {% for tag in tags %}
                <span class='badge'> {{ tag.name }}  </span>
            {% endfor %}
        </section>
    </article>
    <button type="button" class="btn btn-default">
        <a href="{% url 'category' category.name %}"> Back </a>
    </button>
{% endblock %}
