{% extends 'base.html' %}

{% block content %}
    {% for article in recent_articles %}
        <article>
            <header>
                <h3>{{ article.title }}</h3>
                <span class="label label-default pull-right"> Category: {{ article.category }} </span>
            </header>
            <section>
                <p>{{ article.content }}</p>
                <p>{{ article.create_on }}</p>
                <button type="button" class="btn btn-default">
                    <a href="/categories/{{ article.category }}/{{ article.id }}">Continue Reading...</a>
                </button>
            </section>
        </article>
    {% endfor %}
{% endblock %}