{% extends 'base.html' %}

{% block content %}
    <ul>
        {% for id,category,title,content in article_from_tag %}
            <li>
                <a href="/categories/{{category}}/{{id}}">{{title}} </a><p>{{content}}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

