{% extends 'base.html' %}

{% block content %}
    <ul>
        {% for name in TAGS %}
            <li>
                <a href="/tag/{{name|lower}}">{{name|lower}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}